/HolaMundo/nbproject/private/
/HolaMundo/build/
/Leccion1/HolaMundo1/nbproject/private/
/Leccion1/HolaMundo1/build/
/Leccion1/Ejercicio1/nbproject/private/
/Leccion1/Ejercicio1/build/
/Leccion1/Ejercicio5/nbproject/private/
/Leccion1/Ejercicio5/build/
/Leccion1/Ejercicio6/nbproject/private/
/Leccion1/Ejercicio6/build/
/Leccion1/Ejercicio7/nbproject/private/
/Leccion1/Ejercicio7/build/
/Leccion1/Leccion2/nbproject/private/
/Leccion1/Leccion2/build/
/Leccion1/CondicionalEjercicio1/target/
/Leccion1/CondicionalEjercicio2/target/
/Leccion1/CondicionalEjercicio3/target/
/leccion2/CicloWhile/target/
